body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  .jumbotron {
    margin: auto;
    text-align: center;
    background-color: #585858;
    padding: 10px 30px 10px 30px;
  }
h1{
  font-size:50px;
  color:white;
 

}
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  #historydiv{
   text-align: center;
   width:100%;
   margin: auto;
    
    
  }
  .mainResult {
    border: 1px solid grey;
    background-color:#f1f1f1;
    border-radius: 5px 40px 5px;
    margin-left: 10px;
    padding-left: 20px;
    padding-bottom: 20px; 
    text-align: left;
  
  }
 

  
.currentStats{
  line-height: 3rem;
  margin-left: 5rem;

}
#iconDiv {
  background-color:#2196F3; 
  border-radius: 5px 40px 5px;
  margin-top: 20px;
  margin-right: 20px ;
  text-align: center;
  padding: 1.5rem;
  
}

li {
  width: 100%;
  list-style-type: none;
 padding:1rem;
  margin: 1rem;
  border: 1px solid grey;
  background-color:#f1f1f1;
  text-align: center;
}
#cityDiv, #dateDiv{
  text-align: left;
  margin-left: 5rem;
} 
.forecastDiv {
  margin-top:4rem;
  text-align: center;
background-color:#f1f1f1; 
border-radius: 5px 40px 5px;
}
.card {
  display: inline-flex;
  margin: 3rem;
  
}